@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Lato', sans-serif;
}
nav ul, footer ul {
    font-family: 'Lato', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #396A00;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

h1.title {
  font-size: 3em;
  color: #991f00;
  margin: 0;
  position: relative;
  left: -1em;
}

.title a {
  color: #333;
  font-weight: normal;
}

.title a:hover {
  text-decoration: none;
  font-weight: bold;
}

p {
    font-size: 1.1em;
    line-height: 1.3em;
    color: #333;
}

p.meta {
  margin: 0;
  font-size: 1em;
  color: #9aa6b1;
}


footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

code {
    font-family: 'Inconsolata', monospace;
    font-size: 1.1em;
    color: #276A8A;
}