@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css');


body {
    margin: 60px auto;
    max-width: 60rem;
    padding-left: 3em;
    padding-right: 3em;
    font-family: 'Lato', sans-serif;
}

nav ul, footer ul {
    font-family: 'Lato', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
  text-decoration: none;
}

.post a {
    color: inherit;
}

.post a::after {
    position: relative;
    content: "﻿°";
    margin-left: 0.1em;
    font-size: 90%;
    font-weight: bold;
    top: -0.1em;
    color: rgb(153, 51, 51);
}

.post a:hover {
  background: #fbf3f3;
  transition-property: background;
  transition-duration: 0.2s;

  border-radius: 8px;
}

a.footnote {
  border-bottom: none;
  padding-left: 0.1em;
  padding-right: 0.2em;
  font-weight: bold;
}

a.footnote::after {
  content: none;
}

a.reversefootnote::after {
  content: none;
}


h1 {
    font-size: 2em;
    margin-top: 2em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

h1.title {
    font-size: 3em;
    color: #991f00;
    margin: 0;
  }

h1.post_title {
  font-size: 3em;
  color: #991f00;
  margin: 0;
  position: relative;
  left: -1em;
}

h3 {
  padding-top: 1em;
  font-size: 1em;
}

.post_title a {
  color: #333;
  text-decoration: none;
  font-weight: normal;
}

.post_title a:hover {
  font-weight: bold;
}

p {
    font-size: 1.1em;
    line-height: 1.4em;
    color: #333;
}

p.meta {
  margin: 0;
  font-size: 1em;
  color: #9aa6b1;
}

blockquote {
  border-left: 0.5em solid;
  border-left-color: gray;
  padding-left: 1em;
}

blockquote > p {
  color: darkgray;
}


img.center {
    display: block;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

/* Styling reference list */
ol {
  list-style: none;
  counter-reset: ref-counter;
}

ol li {
  counter-increment: ref-counter;
  display: flex;
}

ol li > p {
  margin:0;
  padding-bottom: 1rem;
}

ol li::before {
  content: counter(ref-counter)"°";
  margin-right: 0.5rem;
  font-weight: bold;

}

/* Footer style */

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}

footer a {
  font-weight: bold;
  color: #333;
}

/* Styles for posts list */

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    line-height: 1.5em;
}

ul.posts a {
    color: #333;
}

ul.posts a:hover {
    font-weight: bold;
}

.post_date {
    color: #333;
    float: right;
}

/* Main Code style */
code {
    font-family: Hack, monospace;
    font-size: 1.0em;
    color: #276A8A;
}

code.highlighter-rouge {
  background-color: #eef1fe;
  color: black;
  padding: 1px 1px 1px;
  border-radius: 0.3rem;
  border: 1px dashed #a4a4a4;
}

.highlighter-rouge {
  padding-left: 2em;
  padding-right: 2em;
}
