@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Lato', sans-serif;
}
nav ul, footer ul {
    font-family: 'Lato', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #396A00;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

h1.title {
    font-size: 3em;
    color: #991f00;
    margin: 0;
  }

h1.post_title {
  font-size: 3em;
  color: #991f00;
  margin: 0;
  position: relative;
  left: -1em;
}

.post_title a {
  color: #333;
  font-weight: normal;
}

.post_title a:hover {
  text-decoration: none;
  font-weight: bold;
}

p {
    font-size: 1.1em;
    line-height: 1.3em;
    color: #333;
}

p.meta {
  margin: 0;
  font-size: 1em;
  color: #9aa6b1;
}

p > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}


/* Styles for posts list */

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    line-height: 1.5em;
}

ul.posts a {
    color: #333;
    text-decoration: none;
}

ul.posts a:hover {
    font-weight: bold;
}

.post_date {
    color: #333;
    float: right;
}

/* Main Code style */
code {
    font-family: 'Inconsolata', monospace;
    font-size: 1.1em;
    color: #276A8A;
}