---
layout: default
title: 128nops and counting
---
<table class="header">
  <tr>
    <td colspan="2" rowspan="2" class="width-auto">
      <h1 class="title">{{page.title}}</h1>
      <span class="subtitle">{{page.subtitle}}</span>
    </td>
    <th>Version</th>
    <td class="width-min">v0.1</td>
  </tr>
  <tr>
    <th>Updated</th>
    <td class="width-min"><time style="white-space: pre;">30 August 2024</time></td>
  </tr>
  <tr>
    <th class="width-min">Author</th>
    <td class="width-auto"><a href="https://twitter.com/carste1n">Michal Melewski</a></td>
    <th class="width-min">License</th>
    <td>MIT</td>
  </tr>
</table>

<table>
  <thead>
    <tr>
      <th colspan=2>Articles</th>
  </thead>
  <tbody>
  {% for post in site.posts %}
    {% unless post.tags contains "Short" %}
    <tr>
      <td><a href="{{post.url}}" title="{{post.title}}">{{post.title}}</a></td>
      <td class="width-min"><time style="white-space: pre;">{{ post.date | date_to_string }}</time></td>
    </tr>
    {% endunless %}
  {% endfor %}
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th colspan=2>Shorts</th>
  </thead>
  <tbody>
  {% for post in site.posts %}
    {% if post.tags contains "Short" %}
    <tr>
      <td><a href="{{post.url}}" title="{{post.title}}">{{post.title}} {{post.subtitle}}</a></td>
      <td class="width-min"><time style="white-space: pre;">{{ post.date | date_to_string }}</time></td>
    </tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>