<!DOCTYPE html>
	<html>
		<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{ page.title }}</title>
      
			
			<!-- analytics -->
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-151240480-1"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', 'UA-151240480-1');
			</script>

			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/style.css">
			<link rel="stylesheet" type="text/css" href="/css/code.css">
			<link rel="alternate" type="application/atom+xml" title="128nops and counting - blog by carstein" href="/feed.xml">
			<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		</head>
		<body>
		  <nav class="fixed-nav-bar"><a href="https://carstein.github.io">128nops</a></nav>
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer>
        by <a href="https://twitter.com/@carste1n">@carstein</a>
			</footer>
		</body>
	</html>
